---
import { Image } from "astro:assets";
import "@fontsource-variable/inter";
import "@/styles/global.css";
import logo from "./logo.png";

interface NavItem {
  label: string;
  url: string;
}

const navItems: NavItem[] = [
  { label: "Projects", url: "/" },
  { label: "About", url: "/about" },
];

interface Social {
  label: string;
  url: string;
}

const socials: Social[] = [
  { label: "X", url: "https://x.com/shutallbridge" },
  { label: "GitHub", url: "https://github.com/shutallbridge" },
  {
    label: "LinkedIn",
    url: "https://www.linkedin.com/in/shutakahashi",
  },
];

export interface Styles {
  main?: string;
}

export interface Props {
  title: string;
  styles?: Styles;
}

const { title, styles } = Astro.props;
const { main } = styles ?? {};
---

<html lang="en" class="h-full overflow-x-clip">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <title>{title}</title>
  </head>
  <body
    class="min-h-full font-sans text-shadow-gray-950 flex flex-col items-center"
  >
    <header class="w-full sticky top-0 z-50 bg-white mb-10">
      <nav
        class="w-full max-w-5xl mx-auto px-6 py-4 flex items-center justify-between"
      >
        <a href="/">
          <Image
            src={logo}
            alt="Website logo - pixel art of a tall bridge"
            class="w-10 h-auto"
          />
        </a>
        <ul class="flex gap-x-1">
          {
            navItems.map((navItem) => (
              <li>
                <a
                  href={navItem.url}
                  class="text-gray-950 px-4 py-2 hover:bg-gray-50 rounded-sm"
                >
                  {navItem.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </header>
    <main class:list={["mb-28 w-full", main]}>
      <slot />
    </main>
    <footer class="w-full mt-auto bg-gray-50">
      <div
        class="w-full max-w-5xl mx-auto px-6 flex flex-col gap-y-2 sm:flex-row sm:justify-between sm:items-center py-14"
      >
        <nav>
          <ul class="flex gap-x-4">
            {
              socials.map((social) => (
                <li>
                  <a
                    href={social.url}
                    class="text-gray-600 text-sm hover:underline decoration-gray-500"
                  >
                    {social.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
        <div class="flex gap-x-2 items-center">
          <p class="text-gray-600 text-sm">Shu Takahashi &copy; 2025</p>
          <div
            role="separator"
            aria-orientation="vertical"
            class="border-l border-gray-400 h-[1rem]"
          >
          </div>
          <a
            href="https://github.com/shutallbridge/shutallbridge-com"
            class="text-gray-600 text-sm hover:underline decoration-gray-500"
            >Made with love in Sydney</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
