---
import { z } from "astro:content";
import { projectSchemaWithoutCover } from "@/content.config";
import { BaseLayout } from "@/layouts/base-layout";
import { FullBleed } from "@/components/full-bleed";
import { FrontMatter } from "@/components/front-matter";
import { ExternalLink } from "@/components/external-link";

export interface Props extends z.infer<typeof projectSchemaWithoutCover> {}

const { title, summary, duration, links } = Astro.props;
---

<BaseLayout title={title} styles={{ main: "w-full max-w-3xl px-6 mx-auto" }}>
  <header>
    <h1 class="text-3xl mb-4">{title}</h1>
    <p class="mb-11 text-lg text-gray-700">
      {summary}
    </p>
    <FullBleed class="mb-11">
      <slot name="content-header" />
    </FullBleed>
    <FrontMatter.Root class="mb-11">
      <FrontMatter.Item>
        <FrontMatter.Title>Duration</FrontMatter.Title>
        <FrontMatter.Content>
          {duration}
        </FrontMatter.Content>
      </FrontMatter.Item>
      <FrontMatter.Item>
        <FrontMatter.Title>Links</FrontMatter.Title>
        <FrontMatter.Content class="flex gap-x-2">
          {
            links.map((link) => (
              <ExternalLink size="sm" href={link.url}>
                {link.label}
              </ExternalLink>
            ))
          }
        </FrontMatter.Content>
      </FrontMatter.Item>
    </FrontMatter.Root>
  </header>
  <section class="prose">
    <slot name="default" />
  </section>
</BaseLayout>
