---
import { getCollection } from "astro:content";
import { BaseLayout } from "@/layouts/base-layout";
import { FeaturedProjectCard } from "@/components/featured-project-card";

const featuredProjects = (
  await getCollection(
    "projects",
    ({ data }) => typeof data.featuredOrder === "number"
  )
).sort((a, b) => (a.data.featuredOrder ?? 0) - (b.data.featuredOrder ?? 0));
---

<BaseLayout
  title="Shu Takahashi"
  styles={{ main: "w-full max-w-5xl mx-auto px-6" }}
>
  <header class="mt-12 mb-28">
    <p class="max-w-[50ch] text-2xl leading-10">
      <span>Hi. I'm Shu, a designer and developer based in Sydney.</span>
      <a
        href="projects/exploring-intelligent-interfaces-for-human-ai-collaboration"
        class="text-gray-600 hover:underline decoration-gray-500"
        >Currently building a library for building intelligent interfaces.
      </a>
    </p>
  </header>
  <section class="space-y-6">
    <h1>Featured Projects</h1>
    <div class="space-y-14">
      {
        featuredProjects.map((project, index) => {
          const { id, data } = project;
          const { cover, coverAlt, duration, title, summary } = data;
          const coverSide = index % 2 === 0 ? "left" : "right";

          return (
            <FeaturedProjectCard
              href={`/projects/${id}`}
              coverSide={coverSide}
              src={cover}
              alt={coverAlt}
              tag={duration}
              title={title}
              description={summary}
            />
          );
        })
      }
    </div>
  </section>
</BaseLayout>
